body {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3 {
    font-weight: 900
}

h4,h5,h6 {
    font-weight: 700
}

.navbar {
    background: whitesmoke;
    border-bottom: 1px solid grey;
}

.nav-link,
.navbar-brand {
    color: black;
}

.nav-link:hover,
.navbar-brand:hover {
    color: grey;
}

.navbar-brand {
    font-size: 1.8rem;
}

footer {
    background: whitesmoke;
    border-top: 1px solid grey;
}

.what-do-you-want {
    background-color: white;
    font-size: 1.5rem;
}

.what-do-you-want .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.what-do-you-mean {
    background-color: #67a29c;
    font-size: 1.5rem;
}

.what-do-you-mean .img-fluid {
    max-width: 130%;
    height: auto;
    object-fit: cover;
}

.why-would-you-do-that {
    background-color: #d5cfc2;
    font-size: 1.5rem;
}

.why-would-you-do-that .img-fluid {
    max-width: 120%;
    height: auto;
    object-fit: cover;
}

.what-will-happen {
    background-color: #a62d3b;
    color: whitesmoke;
    font-size: 1.5rem;
}

.what-will-happen .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.give-me-those-numbers {
    background-color: black;
    color: whitesmoke;
    font-size: 1.5rem;
}

.give-me-those-numbers .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.an-average-week {
    background-color: #e5e7e2;
    font-size: 1.5rem;
}

.an-average-week .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.problem-one {
    background-color: #0e2947;
    color: whitesmoke;
    font-size: 1.5rem;
}

.problem-one .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.problem-two {
    background-color: #9b9da0;
    font-size: 1.5rem;
}

.problem-two .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.year-effects
{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5rem;
}

.year-effects .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.summary
{
    background-color: #efd5d6;
    font-size: 1.5rem;
}

.summary .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
